.rangeStyle {
    width: 200px;
    height: 36px;
    margin-right: auto;
    margin-left: auto;
}
.sliderStyle {
    width: 200px;
    /*color: #849d8f;*/
    margin-top: 0;
    height: 36px;
    background-color: transparent;
    border-radius: 18px;

}
